a{
    text-decoration: none;
    color:$f-main-color;
}
h1,h2{
    font-weight: $f-bold;
    color:$f-main-color;
}
p{
    font-weight: $f-md-light;
    color:$f-main-color;
}

.container{
    font-family:$f-fam;
}