/*---------------HERO-ONE-----------------*/
.hero__card-1{
    opacity: 0;
}
#Mask-one{
    opacity:0; 
}
#Rectangle_503,
#Rectangle_507,
#Rectangle_504,
#Rectangle_505,
#Rectangle_506{
    width: 0;
}

/*---------------HERO-TWO-----------------*/
.hero__card-2{
    opacity:0;
}
#profilePicMask,
#profilePicMask-3,
#profilePicMask-5,
#profilePicMask-7{
    opacity: 0;
}

#Rectangle_527,
#Rectangle_528,
#Rectangle_529,
#Rectangle_530,
#Rectangle_531,
#Rectangle_532,
#Rectangle_533,
#Rectangle_534{
    width: 0;
}

.hero__card-3{
    opacity:0;
}

#Rectangle_492,
#Rectangle_494,
#Rectangle_496,
#Rectangle_497,
#Rectangle_498{
    width: 0;
}